body {
  background-color: #101010;
  min-height: 100vh;
}

::-moz-selection {
    color: #101010;
    background: rgba(255, 255, 255, 0.99);
}

::selection {
    color: #101010; 
    background: rgba(255, 255, 255, 0.99);
}

.bio-text {
  margin: 0 auto;
  clear: both;
  font-size: 15px;
  font-family: 'Domine', serif;
  padding: 10px;
  max-height: 100vh;
  padding-top: 100px;
  color: #fff;
  font-weight: 100;
}
.bio-text a{
  color: #fff;
} 

.bio-text p{
  margin-top: 35px;
  line-height: 30px;
} 

.adjectives {
  margin-top: 50px;
  padding-left: 0px;
}

.adjectives li {
  font-weight: 100;
  padding-right: 8px;
  font-size: 18px;
}

.contacts {
  padding-bottom: 20px;
}